/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body{
  font-family: 'Roboto', sans-serif;
}
.header{
  margin-top: 55px;
/*стили*/
}
.mobile-menu{
  display: none;
}

.dws-menu *{
  margin: 0;
  padding: 0;

}
.dws-menu li{
  list-style: none;

}
.dws-menu > ul{
  display: flex;
  justify-content: center;
}
.dws-menu > ul li a{
  display: block;
  background-color: black;
  padding: 15px 30px 15px 40px;
  font-size: 15px ;
  color: red;
  transition: all 0.3s ease;
  text-decoration: none;
}
.dws-menu > ul li{
  position: relative;
  border-right: 1px solid red;
}
.dws-menu > ul li:first-child{
  border-left: 1px solid red ;
  
}
.dws-menu > ul li:last-child{
  border-right: blueviolet;
}
/*Анимируем миню*/
.dws-menu li a:hover{
  background-color: thistle;
  border-bottom:2px solid burlywood ;
  color: rgb(52, 85, 114);
  text-decoration: none;
  box-shadow: 1px 5px 10px -5px yellow;
  transition: all 0.3s ease;
}
/*под меню */
.dws-menu li ul{
position: absolute;
min-width: 150px;
display: none;
}
.dws-menu li > ul li{
border:1px solid green;
}
.dws-menu li >ul li a{
  padding: 10px ;
  text-transform: none;
  background-color: skyblue;
}
.dws-menu li:hover >ul{
  display: block;
}
.logo__img{
  left: 5%;
  top:5%;
position: absolute;
}
.logo__title{
margin-left: 150px;
}
.logo__title>a{
  text-decoration: none;
  color:#007FFF;
}
.header_opisanie{
  text-align: center;
}
.header_opisanie>img{
  margin: auto;
}
.logo_title-h2:hover{
  background-color: black;
  border: 1px solid #00FA9A;
}
.Avalon{
  font-size: 20px;
  font-weight: 700;
  color: #00FA9A;
  margin-left: 10px;
}
.guild_logo{
  text-align: center;
}
.Thungs{
  font-size: 20px;
  font-weight: 700;
  color: #0300af;
  margin-left: 10px;
}

/*Адаптив*/

@media only screen and (max-width:1200px){ /* 995px*/

}
@media only screen and (max-width:992px){ /*770px*/
  .dws-menu > ul li a {
    padding: 10px 30px 15px 18px;
}
@media only screen and (max-width:768px){/*485px МЕНЮ БУРГЕР*/ 
  .dws-menu{
    display: none;
  }
  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: #27ae60;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999999;
  }
  .mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
  }
  .mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: .4s;
  }
  .mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: .4s;
  }
  .mobile-menu__icon::after {
    top: 8px;
  }
  .mobile-menu__icon::before {
    top: -8px;
  }
  .mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color: #27ae60;
  }
  .mobile-menu__list {
    transition: .5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
  }
  .mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
  }
  .mobile-menu__link {
    text-decoration: none;
    color: #fff;
  }
  .mobile-menu__checkbox {
    display: none;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.logo__img{
  position: absolute;
  left:5%;
  top:15%;
}
.dws_menu-mobile *{
  margin: 0;
  padding: 0;

}
.dws_menu-mobile li{
  list-style: none;

}
.dws_menu-mobile > ul{
  display: flex;
  justify-content: center;
}
.dws_menu-mobile > ul li a{
  display: block;
  background-color: black;
  padding: 15px 30px 15px 40px;
  font-size: 15px ;
  color: red;
  transition: all 0.3s ease;
  text-decoration: none;
}
.dws_menu-mobile > ul li{
  position: relative;
  border-right: 1px solid red;
}
.dws_menu-mobile > ul li:first-child{
  border-left: 1px solid red ;
  
}
.dws_menu-mobile > ul li:last-child{
  border-right: blueviolet;
}
/*Анимируем миню*/
.dws_menu-mobile li a:hover{
  background-color: thistle;
  border-bottom:2px solid burlywood ;
  color: rgb(52, 85, 114);
  text-decoration: none;
  box-shadow: 1px 5px 10px -5px yellow;
  transition: all 0.3s ease;
}
/*под меню */
.dws_menu-mobile li ul{
position: absolute;
min-width: 150px;
display: none;
}
.dws_menu-mobile li > ul li{
border:1px solid green;
}
.dws_menu-mobile li >ul li a{
  padding: 10px ;
  text-transform: none;
  background-color: skyblue;
}
.dws_menu-mobile li:hover >ul{
  display: block;
}
.dws_menu-mobile > ul li a {
  display: block;
  background-color: black;
  padding: 10px 10px 12px 27px;
  font-size: 12px;
  color: red;
  transition: all 0.3s ease;
  text-decoration: none;
}


@media only screen and (max-width:559px){/*325*/
  .logo__img{
    display: none;
  }
@media only screen and (max-width:480px){/*325*/
  .dws_menu-mobile > ul li a {
    display: block;
    background-color: black;
    padding: 0px 1px 12px 14px;
    font-size: 11px;
    color: red;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
  }
  .logo__img{
display: none;
  }
  .header_opisanie-img{
    background-size: 100%;
  }
}
@media only screen and (max-width:320px){

}